<div id="login">
    {{#if token}}
    <h2>Nowe Hasło</h2>
    <form method="POST" action="/reset-password/change">
        <label> <input name="password" type="password" placeholder="Nowe Hasło"></label>
        <label> <input name="password2" type="password" placeholder="Potwierdź Hasło"></label>
        <input type="hidden" name="token" value="{{token}}">
        <label><input type="submit" value="Zmień Hasło"></label>
    </form>

    {{else}}
    <h2>Resetuj Hasło</h2>
    <form method="POST" action="/reset-password/reset">
        <label> <input name="mail" type="email" placeholder="E-mail"></label>
        <label><input type="submit" value="Resetuj Hasło"></label>
    </form>
    {{/if}}

    {{#if error}}
    <div class="error">{{error}}</div>
    {{/if}}

    {{#if message}}
    <div class="message">{{message}}</div>
    {{/if}}
</div>